#profiler {


	.results {

		width: 100%;
		overflow-x: scroll;

		table {
			border-collapse: collapse;

		}

		th, td {
			border: 1px solid #ccc;
			padding: 5px;
			text-align: center;
		}

		th.row-title{
			text-align: right;
		}

	}

}